body {
  font-family: Arial, Helvetica, sans-serif;
  display: table;
  margin: 5%;
  background: gray;
}
h1 {
  background-color: aqua;
  padding: 8%;
  margin: 30px;
  text-align-last: center;
  width: 95%;
  background: -moz-linear-gradient(#00ffff 0%, rgb(179, 179, 21) 100%);
  background: -webkit-linear-gradient(#00ffff 0%, rgb(179, 179, 21) 100%);
}
ul {
  list-style-type: square;
}
a[href^="#"] {
  background: aqua;
  text-decoration: none;
}
a:hover {
  background-color: red;
}
a:active {
  background-color: green;
}
section {
  background: beige;
  width: 45%;
  float: right;
  height: 200px;
  background: -webkit-linear-gradient(#00ffff 0%, rgb(179, 179, 21) 100%);
  -webkit-border-radius: 5px;
}
h3 {
  text-align: center;
}

#sectionfood {
  width: 95%;
}

#sectionachievements,
#sectionmore {
  width: 45%;
  margin-right: 1%;
  display: inline-block;
}
#sectionmusic {
  clear: both;
  width: 95%;
}
