/* CSS to style borders
 #one {
  padding: 6px;
  margin: 5%;
  border: 2px solid;
}

#two {
  padding: 6px;
  margin: 5%;
  border-bottom: 2px solid red;
}

#three {
padding: 6px;
  margin: 5%;
  border: 1px solid black;
  -webkit-border-radius: 15px;
}
#four {
  padding: 6px;
  margin: 5%;
  border-left: 3px solid blue;
  background: rgb(27, 237, 223);
  opacity: 5;
} */
/* code for table styling
table,
th,
td,
tr {
  border: 5px, solid;
  text-align: center;
}
#heading {
  background: green;
  color: white;
}
table {
  width: 100%;
}
tr:nth-child(even) {
  background: gray;
  color: white;
} */

/* table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  height: 550px;
}
th,
td {
  padding-top: 10px;
  padding: 10px;
}
tr:nth-child(odd) {
  background: rgb(232, 232, 96);
}
td > span {
  visibility: hidden;
}
td > span:hover {
  visibility: visible;
}
.differentmonth {
  background: gray;
}
table {
  -webkit-border-radius: 15px;
} */

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
}
li {
  height: 35px;
  width: 100px;

  text-align: center;
  background: gray;
}
li a {
  position: relative;
  top: 25%;
  color: white;
}
li:hover {
  background: green;
}
.currentTab li:active {
  background: red;
}

li.horizontal {
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  margin-right: 0;
  float: left;
  margin-top: 0;
}
ul.horizontal {
  position: -webkit-sticky; /* Safari */
/* position: sticky;
  top: 0;
}

.dropdown-content {
  display: none;
  color: white;
  background: black;
  overflow: auto;
  width:100%;
  box-shadow: 10px;
  
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  margin-right: 0;
  float: left;
  margin-top: 0;
}
#dropdown-title{
  position: relative;
  top: -7px;
} */

/*  Dropdown menu
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
 
}
.dropdown:hover .dropdown-content {
  display: block;
} */

/* .dropdown img {
  margin: 20px;
  z-index: 1;
  transition: width 2s ease 0.5s, transform 2s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.dropdown img:hover {
  width: 500px;
  transform: rotate(360deg);
} */

/* .container {
  display: inline-block;
  float: left;
  position: relative;
  width: 40%;
  box-sizing: border-box;
  margin: 3px;
}
.image {
  display: inline-block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: blue;
}
.container:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
} */
/* .flex-container {
  display: flex;
  background: gray;
  justify-content: flex-end;
  height: 500px;
  align-items: flex-start;
}
.flex-container div {
  box-sizing: border-box;
  margin: 10px;
  background: blue;
  width: 150px;
  height: 100px;
  text-align: center;
  padding-top: 45px;
} */
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "menu main main right"
    "menu footer footer footer";
}
div[class*="item"] {
  background: gray;
}
div[class*="item"]:hover {
  background: red;
}
@media screen and (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "footer footer footer footer";
  }
  .item4,
  .item2 {
    display: none;
  }
}
