h1 {
  background-color: red;
  display: inline;
}

span {
  background-color: blue;
  /*float: right;*/
}

div {
  background: green;
  display: inline-block;
  height: 50px;
  width: 190px;
}
body {
  display: table;
}
p {
  background: rgb(140, 128, 140);
  /*float: left;*/
  display: inline-block;
  height: 450px;
  width: 150px;
  overflow: visible;
  display: table-cell;
}
