* {
  margin: 0;
  overflow-x: hidden;
}
:root {
  --image-size: 50vw;
  --text-size: 40vw;
  --image-section-height: 80vh;
  --text-section-height: 80vh;
  --height-for-small-device: 40vh;
}
#display-y {
  z-index: 2;
  color: red;
  position: fixed;

  top: 50vh;
}
/*                        Navigation Bar                   */
#left-nav {
  width: 50vw;
  display: flex;
  align-items: center;
  grid-area: left-nav;
  height: 100%;
  overflow: hidden;
}
#right-nav {
  width: 50vw;
  grid-area: right-nav;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
#right-nav a {
  width: 20%;
  height: 100%;
  display: flex;
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 3vh;
  overflow-y: hide; /* Hide overflow */
}
#right-nav a:hover {
  background: #0f62c5;
}
.nav-bar {
  display: grid;
  grid-template-areas: "left-nav right-nav";
  width: 100vw;
  height: 10vh;
  background: -webkit-linear-gradient(right, #297dc6, #036aa9);
  background: linear-gradient(right, #297dc6, #036aa9);
  overflow: hidden;
  z-index: 1;
  position: fixed;
  top: 0;
  overflow: hidden;
  /* box-shadow: 0px 3px 5px white;
  margin-bottom: 0.5%; */
}
/* a[class*="active"] {
  background: #0f62c5;
} */
.active {
  background: #0f62c5;
}
#left-nav img {
  width: 20%;
  padding-left: 2vw;
}
#menu-bar {
  display: none;
  visibility: hidden;
}
#side-nav {
  display: none;
}
/*                      Slide show                         */
.slideshow-container {
  overflow: hidden;
  max-width: 100vw;
  max-height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 10vh;
  margin-bottom: 3vh;
}
.slide {
  display: none;
  width: 100%;
  /* height: 100%; */
}
.slide img {
  width: 100%;
}
.prev,
.next {
  position: absolute;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  height: 10%;
  width: 5%;
  background: transparent;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev {
  left: 1%;
}
.next {
  right: 1%;
}
.next:hover,
.prev:hover {
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}

/*                  Transition effect                   */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.65;
  }
  to {
    opacity: 1;
  }
}

/*                  Overlaying box                      */
.overlay-container {
  background: -webkit-linear-gradient(
    right,
    rgb(41, 125, 198, 0.5),
    rgb(3, 106, 169, 0.9)
  );
  background: linear-gradient(
    right,
    rgb(41, 125, 198, 0.5),
    rgb(3, 106, 169, 0.9)
  );
  position: absolute;
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  left: -50%;
}
.overlaying-box > .top-text-one,
.overlaying-box > .top-text-two {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.overlaying-box > .top-text-two {
  margin-bottom: 3%;
}
/*                   About section                      */
.image-section img {
  grid-area: "image";
  width: 100%;
}
.text-section {
  width: 40vw;
  grid-area: "text";
  word-wrap: normal;
  background: -webkit-linear-gradient(
    right,
    rgb(41, 125, 198, 0.5),
    rgb(3, 106, 169, 0.9)
  );
  background: linear-gradient(
    right,
    rgb(41, 125, 198, 0.5),
    rgb(3, 106, 169, 0.9)
  );
  padding: 1%;
  transition: "transform 1.5s";
}
.image-section {
  width: 60vw;
}
#about-section {
  display: grid;
  grid-template-areas: "image text";
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
}

.text-section > b {
  font-size: clamp(20px, 2vw, 4vw);
}
.text-section > p {
  cursor: pointer;
  font-size: clamp(15px, 2vw, 2vw);
}
.text-section > p,
.text-section > b {
  padding-right: 15%;
  word-wrap: break-word;
}
.text-section > p:hover {
  transform: translate("-50%");
}

#gallery-section {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-areas: "image text";
}
.slide2 {
  display: none;
}
.image-section {
  width: 100%;
}
#gallery-next,
#gallery-prev {
  top: 50%;
}
.article {
  margin-top: 2vh;
}

/*                                             Section Team                                  */
#section-team {
  display: flex;
  height: 90vh;
  overflow: hidden;
  border: 1px solid gray;
  box-sizing: border-box;
  margin: 1%;
}
.team-heading {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  height: clamp(6vh, 7vh, 10vh);
  border: 1px solid gray;
  font-size: clamp(15px, 2vw, 3vw);
  box-sizing: border-box;
  margin: 1%;
}
.team-heading > b {
  margin-left: 1%;
}
.team-photo-container img {
  width: 23vw;
}
.card-container {
  height: 97%;
  max-width: 23vw;
  display: grid;
  margin: 0.625vw;
  box-shadow: 5px 5px 5px grey;
}
.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: black;
  background: #ebebeb;
  width: 60%;
  height: 50%;
  text-align: center;
}
.contact-button:hover {
  background: -webkit-linear-gradient(right, #297dc6, #036aa9);
  background: linear-gradient(right, #297dc6, #036aa9);
}
.card-container:hover {
  box-shadow: 3px 3px 5px #036aa9;
}
.name,
.job-description,
.description {
  margin: auto;
}
.description {
  margin-left: 6%;
}
/*                        Contact Form                      */
.contact-form-container {
  background: #ebebeb;
  width: 80vw;
  margin: auto;
  padding: 5%;
  margin-bottom: 2vh;
}
input[type="text"],
select,
textarea,
input[type="email"] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
#form-heading {
  /* padding: 12%; */
  /* background: #000; */
  margin-left: 30vw;
  font-size: clamp(100%, 110%, 150%);
}
input[type="text"]:hover,
select:hover,
textarea:hover {
  border: 2px solid #036aa9; /* Gray border */
}
/* #ebebeb */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 650px) {
  a[class*="horizontal-nav"] {
    display: none;
    visibility: hidden;
  }
  #left-nav img {
    width: 50%;
  }
  #menu-bar {
    visibility: visible;
    position: absolute;
    right: 5%;
  }
  #side-nav {
    z-index: 2;
    position: fixed;
    background: -webkit-linear-gradient(right, #297dc6, #036aa9);
    background: linear-gradient(right, #297dc6, #036aa9);
    display: flex;
    flex-direction: column;
    width: 0;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;
  }
  #side-nav a {
    color: white;
    text-decoration: none;
    font-size: 125%;
    width: 100%;
    height: 16.6666666%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  #side-nav a:hover {
    background: #0f62c5;
  }
  .overlaying-box b {
    font-size: 75%;
  }
  /*            About Section           */
  #about-section {
    grid-template-areas:
      "about-image"
      "about-text";
    height: 80vh;
  }

  .image-section,
  .text-section {
    margin: auto;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
  }
  .image-section img {
    width: 100vw;
  }
  .text-section > p,
  .text-section > b {
    margin-left: 2.5vw;
    margin-top: 2%;
  }

  /*                      Gallery Section               */
  /* .slide-image {
    width: 100%;
  } */
  .slide-image img {
    height: 100%;
  }
  .slide-text {
    max-height: 30vh;
  }
  /*                          Section Team                */
  #section-team {
    height: 410vh;
    display: block;
  }
  .card-container {
    max-width: 85vw;
    margin: auto;
    height: 100vh;
    margin-bottom: 3%;
  }
  .team-photo-container img {
    width: 95vw;
  }
}
/*         Privacy section          */
#sub-header-container {
  width: 100vw;
  background:#eee;
  margin-top: 2vh;
}
#sub-header-container > h4 {
  color: #000;
}
#legal {
  grid-area: legal;

}
#corperate {
  grid-area: corperate;
}
#customer {
  grid-area: customer;
}
#p-logo {
  grid-area: p-logo;
}
#p-logo img {
  width: 40%;
}
#privacy-container {
  width: 100vw;
  display: grid;
  grid-template-areas:
    "legal corperate customer"
    "p-logo p-logo p-logo";
  margin: 5vw;
  color:transparent;
  text-align: center;
  background: transparent;
  margin: auto;
}
#privacy-container a {
  text-decoration: none;
  background:transparent;
  display: block;
  color: black;
}
.privacy-heading {
  font-size: 3vh;
}

footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: -webkit-linear-gradient(right, #297dc6, #036aa9);
  background: linear-gradient(right, #297dc6, #036aa9);
  color: white;
  font-size: clamp(90%, 110%, 130%);
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 650px) {
  #left-nav img {
    width: 40%;
  }
  .slideshow-container {
    max-height: 100vh;
  }
  #right-nav a {
    font-size: 90%;
  }
  .overlaying-box b {
    font-size: 120%;
  }

  .slide-image {
    width: 85vw;
    margin: auto;
    margin-left: 7vw;
  }
  .slide-image img {
    width: 100%;
  }
  .slide-text {
    width: 83vw;
    margin: auto;
    margin-left: 7vw;
  }
  #gallery-prev,
  #gallery-next {
    background: #000;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 850px) {
  #left-nav img {
    width: 35%;
  }
  .overlaying-box b {
    font-size: 130%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {
  #left-nav img {
    width: 25%;
  }
  .slideshow-container img {
    width: 100%;
  }
  .overlaying-box b {
    font-size: 170%;
  }
}
