#bg-img {
  /* background-image: url("./Images/imageThree.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat; */
  background: #f1f1f1;
}

a {
  text-decoration: none;
}
a:hover {
  background: gray;
}
#left-menu {
  grid-area: left-menu;
  display: flex;
  margin-left: 5%;
  align-items: center;
}
#right-menu {
  grid-area: right-menu;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-wrapper {
  display: grid;
  grid-template-areas: "left-menu right-menu";
  background: white;
  height: 10vh;
}
#home {
  position: sticky;
  top: 0;
}
#gallery-container {
  display: flex;
  flex-wrap: wrap;
  /* margin: 3%; */
}
.polariod-wrapper {
  width: 50%;
  box-shadow: 1px 5px 5px black;
}
.image {
  width: 100%;
}
.caption {
  text-align: center;
  color: black;
  background: white;
}
